body{
    background-color:#b8c0ff ;
}
h1{
    color:#8338ec;
    background-color: #fb5607;
    border-radius: 23px;
}
#show_sketch{
    float:right;
}
canvas
{
    border:5px solid royalblue;
    border-radius:23px;
    animation-name: abc;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-top: 23px;
}
@keyframes abc{
    from{box-shadow: 1px 1px 38px #414833;}
    to{box-shadow:1px 1px 38px #003566;}

}
p{
    padding-top:10px;
    font-size:25px;
}